<%= form_for @conn, Routes.comic_html_path(@conn, :update, @comic.id), fn f -> %>
  <%= render "error.html", f: f %>

  <div class="form-group">
    <label><a href="<%= @comic.url %>" target="_ignore"><%= @comic.name %></a></label>
    <%= text_input f, :url, class: "form-control", autocomplete: "off" %>
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
